.box{
    width: 30vw;
    height: 10vh;
    border: 2px solid black;
    overflow: auto;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    /* overflow-x: hidden;
    overflow-y: hidden; */
}